#clockBox{
    height: 70vh;
    width: 70vh;
    background-image: url(clock.png);
    background-size: cover;
    margin: 10vh auto;
}
#hour, #min, #sec{
    background-color: black;
    position: relative;
    border-radius: 10px;
    display: inline-block;
    transform-origin: bottom;
}
#hour{
    position: relative;
    height: 22%;
    width: 1.7%;
    top: 21.46%;
    left: 49.1%;
}
#min{
    position: relative;
    height: 28%;
    width: 1%;
    top: 21.48%;
    left: 46.45%;
}
#sec{
    position: relative;
    height: 29%;
    width: .7%;
    top: 21.17%;
    left: 44.9%;
}
